<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Frenz Valios - 404</title>
    <meta name="description" content="Frenz Gwapo hahaha" />
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://frenzvalios.xyz/static/css/bootstrap.css">
</head>
<style>
    body {
        overflow-y: scroll;
        margin: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .old {
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: bold;
        margin: 50px;
        font-size: 15px
    }
    }
</style>

<body>
    <section class="bg-gradient pt-5 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                    <div class="heading-brand">404</div>
                    <a href="https://frenzvalios.tk/api" class="btn btn-dark" target="_blank">API</a>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-md-8 mx-auto text-center">
                    <h1>404 - Not Found</h1>
                    <p class="lead mb-5">The requested link was not found</p>
                    <p class="lead mb-5">Frenz is very sorry.</p>
                    <a href="https://github.com/frenzjay" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="github"></em> Github </a><br><br>
                    <a href="https://www.facebook.com/profile.php?id=100087995763221" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="facebook"></em> Facebook </a>
                    </a><br><br>
                </div>
            </div>
</body>

</html>