<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frenz Valios - Web Developer</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">Frenz Valios</h1>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#api">API</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="about" class="about">
        <div class="container">
            <h2>About Me</h2><br>
            <p>I'm a web developer based in Siquijor, passionate about creating responsive and user-friendly websites. With a strong background in Python, HTML, CSS, JavaScript. I started doing programming about 3 years ago. I do both Frontend and Backend.</p>
        </div>
    </section>

    <section id="projects" class="projects">
        <div class="container">
            <h2>Projects and stuffs I made</h2>
            <div class="project" data-aos="fade-up" onclick="openProject('https://frenzvalios.xyz/gibberish')">
                <h3>Gibberish</h3>
                <p>A project I made to encrypt and decrypt your texts using the Frenz method, (Inspired from Base64)</p>
            </div>
            <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://code.frenzvalios.xyz')">
                <h3>Code encryptor</h3>
                <p>An HTML, CSS, Javascript encryptor.</p>
            </div>
          <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://frenzvalios.xyz/yt2mp3')">
                <h3>Youtube to Mp3</h3>
                <p>Youtube to Mp3 converter (BETA)</p>
            </div>
          <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://tikdown.frenzvalios.xyz')">
                <h3>Tikdown</h3>
                <p>Tiktok video downloader with no watermark</p>
            </div>
          <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://frenzvalios.xyz/SIS-10-2022-2023')">
                <h3>SIS 2022 - 2023</h3>
                <p>Siquijor Integrated School 2022 - 2023 completers</p>
            </div>
          <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://frenzvalios.xyz/fbfriends')">
                <h3>FB Friends</h3>
                <p>A list of my cool Facebook Friends</p>
            </div>
          <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://frenzvalios.xyz/text2png')">
                <h3>TXT2PNG</h3>
                <p>The most useless tool I made</p>
            </div>
          <div class="project" data-aos="fade-up" data-aos-delay="100" onclick="openProject('https://frenzvalios.xyz/thoughts')">
                <h3>Thoughts</h3>
                <p>Share your random thoughts and feelings here!</p>
            </div>
        </div>
    </section>
<section id="api" class="api">
    <div class="container">
        <h2>APIs</h2>
        <div class="api-item" data-aos="fade-up" onclick="openAPI('https://frenzvalios.xyz/api')">
            <h3>Main</h3>
            <p>Main site API (unmaintained)</p>
        </div>
        <div class="api-item" data-aos="fade-up" data-aos-delay="100" onclick="openAPI('https://frenzvalios.xyz/api/gibberish')">
            <h3>Gibberish API</h3>
            <p>An API for my project 'Gibberish'</p>
        </div>
        <!-- Add more API items as needed -->
    </div>
</section>

    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Me</h2>
            <p>Want to say Hi? reach me out on my socials:</p><br>
            <ul>
                <li>Email: <a href="mailto:biboy@frenzvalios.xyz">biboy@frenzvalios.xyz</a></li>
                <li>Facebook: <a href="https://www.facebook.com/frenzvalios.xyz" target="_blank">Facebook that I use</a></li>
                <li>GitHub: <a href="https://github.com/frenzjay" target="_blank">GitHub Profile and Repos</a></li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Frenz Valios - imissu - Last site edit: {{ time_since_last_edit }} ago</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();

        function openProject(url) {
            window.open(url, '_blank');
        }

      function openAPI(url) {
    window.open(url, '_blank');
}

    </script>
</body>
</html>
