<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Frenz Valios</title>
    <meta name="description" content="Frenz Gwapo hahahahaha" />
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.css">
</head>
<style>
    body {
        overflow-y: scroll;
        margin: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .old {
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: bold;
        margin: 50px;
        font-size: 15px
    }
    .pb {
            width: 20px;
            height: auto;
            vertical-align: middle;
        }
</style>

<body>
    <section class="bg-gradient pt-5 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                    <div class="heading-brand">F R N Z</div>
                    <a href="https://frenzvalios.xyz/sayout" class="btn btn-dark" target="_blank">Sayout</a>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-md-8 mx-auto text-center">
                    <h1>Frenz Valios - Website</h1>
                    <p class="lead mb-5">missu</p>
                    <p class="lead mb-5">This is my personal Website, feel free to check things out!</p>
                  <a href="https://chat.frenzvalios.xyz" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> ChatGPT Plus - Librechat </a><br><br>
                  <a href="https://code.frenzvalios.xyz" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Code Encryptor </a><br><br>
                  <a href="/api/yt2mp3" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Youtube To Mp3 - API </a><br><br>
                  <a href="/yt2mp3" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Youtube To Mp3 </a><br><br>
                  <a href="/imagine" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Imagine </a><br><br>
                  <a href="https://tikdown.frenzvalios.xyz" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Tikdown </a><br><br>
                  <a href="/SIS-10-2022-2023" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> SIS 2022 - 2023 </a><br><br>
                  <a href="/api/gibberish" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Gibberish API </a><br><br>
                  <a href="/fbfriends" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> FB Friend List </a><br><br>
                  <a href="/gibberish" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Gibberish </a><br><br>           
                  <a href="/text2png" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> TXT2PNG </a><br><br>
                  <a href="/emoji" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Emoji </a><br><br>
                  <a href="/thoughts" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> Thoughts </a><br><br>
                  <a href="/api" class="btn btn-dark svg-icon">
                        <em class="mr-2" data-feather="link"></em> API </a><br><br>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
    </section>
    <div class="old">
        <header>
            <p>Hi</p>
        </header>
        <section>
            <h1>I um idk</h1>
        </section>
        <p>You can follow and say Hi to me on my Socials:</p>
        <ul>
            <li><a class="github" href="https://github.com/frenzjay">GitHub</a></li>
            <li><a class="twitter" href="https://twitter.com/ItzFrenzG">Twitter</a></li>
            <li><a class="youtube" href="https://youtube.com/channel/UC6tfD5NgAB7eLGw1wkXqJOA">YouTube</a></li>
            <li><a class="fb" href="https://www.facebook.com/frenzvalios.xyz">Facebook</a></li>
        </ul><br>
      <p>Friends Projects:</p>
        <ul>
            <li><a class="link" href="http://nellblgs.x10.bz/">Nellblgs by Wneljae</a></li>
           </li>
        </ul><br>
    <section class="pb-6">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="text-center text-md-left">Epic LOGO</h2>
                    <p class="lead text-muted">Epic logo below (real)</p>
                    <div class="mt-5 d-flex flex-row justify-content-md-between flex-wrap press-icons">
                        <img src="static/logo.gif" width="60" height="70" alt="logo" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://frenzvalios.xyz">FRNZ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="row my-2">
        <div class="col-md-4 mx-auto text-muted text-center small-xl"> &copy; 2023 - Frenz, Inc.<br> Last site edit: {{ time_since_last_edit }} ago, Type: Backend<br>Powered by <img class="pb" src="https://www.cloudflare.com/favicon.ico" alt="Cloudflare"> x <img class="pb" src="https://replit.com/public/icons/favicon-prompt-192.png" alt="Replit"></div>
    </div><br>
    <hr><br>
  <br><br>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="static/js/scripts.js"></script>

</body>

</html>