<!DOCTYPE html>
<html>
<head>
    <title>Place</title>
    <style>
      body {
            background-color: #222;
      }
        #container {
            position: relative;
            width: 1280px;
            height: 720px;
            overflow: hidden;
        }
        img {
            position: absolute;
            max-width: 50px;
            max-height: 50px;
        }
    </style>
</head>
<body>
    <div id="container">
        {% for img_tag in img_tags %}
        {{ img_tag|safe }}
    {% endfor %}
    </div>
    <script>
    window.onload = function() {
    var container = document.getElementById('container');
    var imgs = container.getElementsByTagName('img');
    for (var i = 0, img; img = imgs[i]; i++) {
        img.style.left = Math.random() * (container.offsetWidth - img.offsetWidth) + 'px';
        img.style.top = Math.random() * (container.offsetHeight - img.offsetHeight) + 'px';
        img.style.transform = 'rotate(' + Math.random() * 360 + 'deg)';
        
        img.addEventListener('click', function() {
            var imageLink = this.getAttribute('src');
            window.open(imageLink, '_blank');
        });
    }
};
</script>

</body>
</html>
