<html>
  <head>
  <title>Text to PNG</title>
<link href="https://frenzjay.github.io/files/bounce.css" rel="stylesheet" type="text/css" />
</head>
<body>
<style>
   body {
     font-family: "Lucida Console", "Courier New", monospace;
     font-weight: bold;
     margin: 50px;
   }
  form  {
          text-align: center;
          font-family: "Lucida Console", "Courier New", monospace; !important
      }
   </style>
  <body>
    <form method="post">
      <label for="name">Enter your text:</label><br>
      <input type="text" id="name" name="name"><br>
      <input type="submit" value="Submit">
    </form>
    <p>This tool will make text PNG with rainbow effect</p>
    <p>Made by Frenz Valios, Useless tools #1</p>
  </body>
</html>
